
<%- include("header") -%>


<h2>This is the about page</h2>
<form action="post">

    <label for="username">UserName</label>
    <input type="text" name="uname" id="uname">
    <label for="password">Password</label>
    <input type="pwd" name="pwd" id="pwd">
</form>

<%- include("footer") -%>